body {
  padding: 1em;
}

.reactive-menu-basic {
  &__item {
    &::before {
      content: '';
      display: inline-block;
      margin: 0 1ex 0 0;
      width: 1ex;
    }

    &--has-children {
      &::before {
        content: '▾';
      }
    }

    &--level1 & {
      margin: {
        left: 2ex;
      }
    }
  }
}

.reactive-menu-complete {
  $__item--level1--expanded: #{&}__item--level1#{&}__item--expanded;
  $__item--level1--animating: #{&}__item--level1#{&}__item--animating;
  $color-background: #d3d3d3;

  background: $color-background;
  display: flex;

  &__item--level1 {
    padding: 0.5em;
    position: relative;
  }

  &__item--level1#{&}__item--has-children &__link--level1::after {
    content: '▾';
    display: inline-block;
    margin: 0 0 0 1ex;
  }

  &__submenu--level1 {
    background: $color-background;
    left: 0;
    opacity: 0;
    padding: 0 0.5em;
    pointer-events: none;
    position: absolute;
    transform: translateY(-0.75em);
    white-space: nowrap;

    #{$__item--level1--expanded} & {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }

    #{$__item--level1--animating} & {
      transition: {
        duration: 0.2s;
        property: opacity, transform;
      }
    }
  }

  &__item--level2 {
    margin: 0.5em 0;
  }
}
